.page.exchanges.index

  %h2.pageTitle
    - if current_user.admin?
      = @page_title = t("address_providers.index.all_exchanges")
    - else
      = @page_title = t("address_providers.index.your_exchanges")

  .actions
    = link_to t("address_providers.index.add_exchange"), new_address_provider_path, class: @address_providers.new_payout_link_classes
    .hint= t("address_providers.index.payouts_hint")
  .clearfix

  .list
    - if @address_providers.present?

      %table
        %th= t("address_providers.index.name")
        - if current_user.admin?
          %th= t("address_providers.index.owner")
        - @address_providers.each do |provider|
          %tr
            %td= link_to "#{provider.currencies} #{t("address_providers.index.through")} #{provider.display_name}", address_provider_path(provider)
            - if current_user.admin?
              %td= provider.user.email

      = will_paginate(@address_providers)

    - else
      .noRecords
        %h3= t("address_providers.index.no_records.title")
