.page.exchanges.index

  - if current_user.admin?
    %h2.pageTitle= @page_title = "All exchanges"
  - else
    %h2.pageTitle= @page_title = "Your exchanges"

  .actions
    = link_to "add exchange", new_address_provider_path, class: 'button small'

  .clearfix

  .list
    - if @address_providers.present?

      %table
        %th NAME
        - if current_user.admin?
          %th OWNER
        - @address_providers.each do |provider|
          %tr
            %td= link_to provider.display_name, address_provider_path(provider)
            - if current_user.admin?
              %td= provider.user.email

      = will_paginate(@address_providers)

    - else
      .noRecords
        %h3 You have not created any exchanges yet
        %p An exchange is an external service that will receive incoming Bitcoins and convert them into your currency of choice.
