.page.exchanges.index

  - if current_user.admin?
    %h2.pageTitle= @page_title = "All fiat payout channels"
  - else
    %h2.pageTitle= @page_title = "Your fiat payout chaneels"

  .actions
    = link_to "Add fiat payout", new_address_provider_path, class: 'button small'

  .clearfix

  .list
    - if @address_providers.present?

      %table
        %th NAME
        - if current_user.admin?
          %th OWNER
        - @address_providers.each do |provider|
          %tr
            %td= link_to "EUR through #{provider.display_name}", address_provider_path(provider)
            - if current_user.admin?
              %td= provider.user.email

      = will_paginate(@address_providers)

    - else
      .noRecords
        %h3 You have not created fiat payout channels
