.page.exchanges.index

  - if current_user.admin?
    %h2.pageTitle= @page_title = I18n.t("address_providers.index.all_exchanges")
  - else
    %h2.pageTitle= @page_title = I18n.t("address_providers.index.your_exchanges")

  .actions
    = link_to I18n.t("address_providers.index.add_exchange"), new_address_provider_path, class: 'button small'

  .clearfix

  .list
    - if @address_providers.present?

      %table
        %th= I18n.t("address_providers.index.name")
        - if current_user.admin?
          %th= I18n.t("address_providers.index.owner")
        - @address_providers.each do |provider|
          %tr
            %td= link_to provider.display_name, address_provider_path(provider)
            - if current_user.admin?
              %td= provider.user.email

      = will_paginate(@address_providers)

    - else
      .noRecords
        %h3= I18n.t("address_providers.index.no_records.title")
        %p= I18n.t("address_providers.index.no_records.statement")
