- default_currency = 'EUR'
- default_provider = AddressProvider.providers_by_currency[default_currency][0]

- if @address_provider
  = render partial: "address_providers/forms/#{@address_provider.class.type.underscore}", locals: {provider: @address_provider, provider_class: @address_provider.class, hidden: false}
- else
  %select#currency{name: 'currency'}
    - AddressProvider.providers_by_currency.each_key do |currency|
      %option{value: currency, selected: currency == default_currency}
        = currency

  - AddressProvider.providers_by_currency.each do |currency, providers|
    %select#address_provider{name: "#{currency}_providers"}
      - providers.each do |provider|
        %option{value: provider.type, selected: provider == default_provider}
          = provider.type

  - AddressProvider.providers.each do |provider|
    = render partial: "address_providers/forms/#{provider.type.underscore}", locals: {provider: nil, provider_class: provider, hidden: provider != default_provider}
