- @page_title = I18n.t("address_providers.new.page_title")
- default_provider = AddressProviders::Cashila

.page.exchanges.new

  %h1= I18n.t("address_providers.new.adding_a_new_exchange")
  %p.explanation= I18n.t("address_providers.new.statment_part_1")
  %p.explanation= I18n.t("address_providers.new.statment_part_2")

  = I18n.t("address_providers.new.currency")
  %select#address_provider
    - AddressProvider.providers.each do |provider|
      %option{value: provider.type, selected: provider == default_provider}
        = provider::CURRENCIES.join(' ')
        —
        = provider.type

  - if @address_provider && @address_provider.errors[:type].present?
    %p.error= @address_provider.errors[:type].join(', ')

  - AddressProvider.providers.each do |provider|
    - current = @address_provider && @address_provider.instance_of?(provider)
    = render partial: "address_providers/forms/#{provider.type.underscore}", locals: {provider: current ? @address_provider : nil, provider_class: provider, hidden: @address_provider ? !current : provider != default_provider}
