- orders.each do |order|
  %li
    = "#{t('widget_payments_notification.amount')} #{order.amount}, "
    != "#{t('widget_payments_notification.address')} #{link_to order.address, gateway_order_url(gateway_id: gateway.id, id: order.payment_id)}, "
    != "#{t('widget_payments_notification.transaction')} #{blockchain_url(tid: order.tid)}, "
    = "#{order.created_at.utc.strftime(t('strftime.time_with_zone'))} "
    - if (title = order.data.try(:[], 'product_title'))
      = "(#{title})"
