- orders.each do |order|
  %li
    = "Amount: #{order.amount}, "
    != "address: #{link_to order.address, gateway_order_url(gateway_id: gateway.id, id: order.payment_id)}, "
    != "transaction: #{blockchain_url(tid: order.tid)}, "
    = "#{order.created_at.utc.strftime(I18n.t('strftime.time_with_zone'))} "
    - if (title = order.data.try(:[], 'product_title'))
      = "(#{title})"
