%ul
  - @data.each do |gateway, new_orders|
    %li
      = I18n.t('widget_payments_notification.widget')
      %a{href: gateway_url(id: gateway.id)}= gateway.name
      %br/
      &nbsp;
      %ul
        - if new_orders[:paid]
          = render partial: 'widget_payments_notification/orders', locals: {orders: new_orders[:paid], gateway: gateway}
          %br/
        - new_orders.each do |status, orders|
          - next if status == :paid
          %li
            = status.to_s.capitalize
            %ul
              = render partial: 'widget_payments_notification/orders', locals: {orders: orders, gateway: gateway}
              %br/
