- @page_title = t('devise.confirmations.new.page_title')
.page

  .formBlock

    %h2= t('devise.confirmations.new.header')

    = simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
      = f.error_notification
      = f.full_error :confirmation_token
      .form-inputs
        = f.input :email, required: true, autofocus: true
      .form-actions
        = f.button :submit, t("devise.confirmations.new.submit"), class: 'onDark'

  = render "devise/shared/links"
