%h2= @page_title = I18n.t('devise.devise_registrations.edit.page_title')

= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
  = f.error_notification
  .form-inputs
    = f.input :name
    = f.input :email, required: true, autofocus: true
    = f.input :updates_email_subscription_level, collection: subscriptions_collection, include_blank: I18n.t('devise.devise_registrations.none')
    - if devise_mapping.confirmable? && resource.pending_reconfirmation?
      %p
        = I18n.t('devise.devise_registrations.edit.confirmation_wating')
        = resource.unconfirmed_email


    .formBlock
      %h3= I18n.t('devise.devise_registrations.edit.form_header')
      = f.input :password,
                label: I18n.t('devise.devise_registrations.edit.new_password.label'),
                autocomplete: "off",
                hint: I18n.t('devise.devise_registrations.edit.new_password.hint'),
                required: false
      = f.input :password_confirmation,
                label: I18n.t('devise.devise_registrations.edit.confirmation.label'),
                hint: I18n.t('devise.devise_registrations.edit.confirmation.hint'),
                required: false

      - if gauth_enabled_user?
        %p.twoFactorAuth.green
          = image_tag "sidebar_icons/two_factor_auth.png"
          = I18n.t('devise.devise_registrations.edit.two_factor_auth.green', link: link_to(I18n.t('devise.devise_registrations.edit.two_factor_auth.disable'), user_displayqr_path )).html_safe
      - else
        %p.twoFactorAuth.red
          = image_tag "sidebar_icons/two_factor_auth.png"
          = I18n.t('devise.devise_registrations.edit.two_factor_auth.red', link: link_to(I18n.t('devise.devise_registrations.edit.two_factor_auth.recommend'), user_displayqr_path )).html_safe
    %p
      %h3
      = f.input :current_password, label: I18n.t('devise.devise_registrations.edit.save_hint'), required: true
  .form-actions
    = f.button :submit, I18n.t('devise.devise_registrations.edit.submit')

/= I18n.t('devise.devise_registrations.edit.account_cancelation.message'), #{link_to I18n.t('devise.devise_registrations.edit.account_cancelation.link'), registration_path(resource_name), data: { confirm: I18n.t('devise.devise_registrations.edit.account_cancelation.confirmation') }, method: :delete}
