%h2= @page_title = I18n.t('page_title', scope: 'devise.devise_registrations.edit')

= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
  = f.error_notification
  .form-inputs
    = f.input :name
    = f.input :email, required: true, autofocus: true
    = f.input :updates_email_subscription_level, collection: subscriptions_collection, include_blank: I18n.t('none', scope: 'devise.devise_registrations')
    - if devise_mapping.confirmable? && resource.pending_reconfirmation?
      %p
        = I18n.t('confirmation_wating', scope: 'devise.devise_registrations.edit')
        = resource.unconfirmed_email


    .formBlock
      %h3= I18n.t('form_header', scope: 'devise.devise_registrations.edit')
      = f.input :password,
                label: I18n.t('label', scope: 'devise.devise_registrations.edit.new_password'),
                autocomplete: "off",
                hint: I18n.t('hint', scope: 'devise.devise_registrations.edit.new_password'),
                required: false
      = f.input :password_confirmation,
                label: I18n.t('label', scope: 'devise.devise_registrations.edit.confirmation'),
                hint: I18n.t('hint', scope: 'devise.devise_registrations.edit.confirmation'),
                required: false

      - if gauth_enabled_user?
        %p.twoFactorAuth.green
          = image_tag "sidebar_icons/two_factor_auth.png"
          = I18n.t('green', scope: 'devise.devise_registrations.edit.two_factor_auth', link: link_to(I18n.t('disable', scope: 'devise.devise_registrations.edit.two_factor_auth'), user_displayqr_path )).html_safe
      - else
        %p.twoFactorAuth.red
          = image_tag "sidebar_icons/two_factor_auth.png"
          = I18n.t('red', scope: 'devise.devise_registrations.edit.two_factor_auth', link: link_to(I18n.t('recommend', scope: 'devise.devise_registrations.edit.two_factor_auth'), user_displayqr_path )).html_safe
    %p
      %h3
      = f.input :current_password, label: I18n.t('save_hint', scope: 'devise.devise_registrations.edit'), required: true
  .form-actions
    = f.button :submit, I18n.t('submit', scope: 'devise.devise_registrations.edit')

/= I18n.t('message', scope: 'devise.devise_registrations.edit.account_cancelation'), #{link_to I18n.t('link', scope: 'devise.devise_registrations.edit.account_cancelation'), registration_path(resource_name), data: { confirm: I18n.t('confirmation', scope: 'devise.devise_registrations.edit.account_cancelation') }, method: :delete}
