- @page_title = t('devise.devise_registrations.new.page_title')

.page.registration.new

  .formBlock

    %h2.onDark= t('devise.devise_registrations.new.header')

    = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      .form-inputs
        = f.input :email, required: true, autofocus: true
        = f.input :password, required: true, hint: (t('devise.devise_registrations.new.password.hint', min_length: @minimum_password_length) if @validatable)
        = f.input :password_confirmation, required: true
        = f.input :name
        = f.input :tos_agreement, required: true, inline_label: t('devise.devise_registrations.new.tos', link: link_to('Terms Of Service', tos_path, target: '_blank')).html_safe, as: :boolean
      .form-actions
        = f.button :submit, t('devise.devise_registrations.new.submit'), class: 'onDark'

  = render "devise/shared/links"
