.page.twoFactorAuth

  %h2
    = I18n.t('title', scope: 'devise.registration')

  %table
    %tr
      %td.qrcode= google_authenticator_qrcode(resource)
      %td.instructions
        You need to download #{link_to "Google Auth", "https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2" } app on your phone now and then scan this QR code with it.

        .backup
          You might want to back this string up somehwere in case you lose your phone.
          Without it, you won't be able to recover your access to Mycelium Gear.
          %input{ type: 'text', value: "otpauth://totp/#{otpauth_user(username_from_email(resource.email), current_user.class.ga_appname ||Rails.application.class.parent_name )}?secret=#{resource.gauth_secret}"}

        = simple_form_for(resource, as: resource_name, url: [:refresh, resource_name, :displayqr], html: {method: :post}) do |f|
          = f.submit(I18n.t('newtoken', {scope: 'devise.registration'}))

  = simple_form_for(resource, as: resource_name, url: [resource_name, :displayqr], html: { method: :put, class: 'setupTwoFactor' }) do |f|

    = devise_error_messages!

    %p= I18n.t('enter_token', scope: 'devise.registration')

    %p
      = f.input_field :gauth_enabled, as: :boolean, inline_label: I18n.t('qrstatus', scope: 'devise.registration')
      = f.hidden_field :tmpid, value: @tmpid

    %p
      = f.input :gauth_token, autocomplete: :off, label: "TOKEN"
      .submit= f.submit I18n.t('submit', scope: 'devise.registration'), class: 'small'


