- @page_title = I18n.t('page_title', scope: 'devise.passwords.new')

.page

  .formBlock

    %h2= I18n.t('header', scope: 'devise.passwords.new')

    = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
      = f.error_notification
      .form-inputs
        = f.input :email, required: true, autofocus: true
      .form-actions
        = f.button :submit, I18n.t('submit', scope: 'devise.passwords.new'), class: 'onDark'

  = render "devise/shared/links"
