.widget{ data: { widget_id: @widget.id }}

  .settings
    .pure-g

      .pure-u-12-24
        .container.products
          %h3 Add widget products
          %p.hint
            You can add multiple items that you wish to sell &mdash; they will be displayed in a dropdown box inside the widget.
            If you enter only one item, the widget will simply show that item's title and price (no dropdown).
            You can also configure the widget to work as a donation tool by leaving this field blank,
            which will cause it to only display a field to enter the desired donation amount.
            Checkbox "Singular" means that product quantity field will not be shown.

          - @widget.products.each do |product|

            .product.item{ data: { product_id: product.id } }
              %input.title{type: 'text', value: product.title, class: ('error' unless product.errors[:title].blank?)}
              %input.price{type: 'number', value: product.price, max: 99999999, class: ('error' unless product.errors[:price].blank?)}
              %label
                %input.singular{type: 'checkbox', checked: product.singular?}
                Singular
              = image_tag "remove_icon.png", title: 'Remove this product', class: 'remove'
              - unless product.errors.empty?
                .errorMessage
                  - if product.errors[:title].present?
                    .message
                      Title
                      = product.errors[:title].join(' and ')
                  - if product.errors[:price].present?
                    .message
                      Price
                      = product.errors[:price].join(' and ')

          .product.item.new
            %input.title{placeholder: "Product title", type: 'text'}
            %input.price{placeholder: "#{@gateway.default_currency}", type: 'number', max: 99999999}
            %label
              %input.singular{type: 'checkbox', checked: true}
              Singular
            = image_tag "add_icon.png", title: 'Add one more product', class: 'add'
      .pure-u-12-24
        .container.fields
          %h3 Add custom fields to the widget
          %p.hint
            If you would like your customers to leave some additional info, such as their email or delivery address, you need to add these respective fields into your widget. If you do not set up at least an email field, customers will still be able to pay, but you will not be able to associate orders with customers.

          - if @widget.fields && !@widget.fields.empty?
            - @widget.fields.each do |field|
              .field.item
                %input.fieldName{type: 'text', value: field, class: ('error' if @widget.error_for_custom_field(field))}
                %label.required
                  = check_box_tag "field_required", 1, field =~ /\A\*/
                  Field required
                = image_tag "remove_icon.png", title: 'Remove this field', class: 'remove'
                - if @widget.error_for_custom_field(field)
                  .errorMessage= @widget.errors[:fields][0][field].join(' and ')

          .field.item.new
            %input.fieldName{placeholder: "Field name, e.g. Email or Address", type: 'text'}
            %label.required
              %input.checkbox(type="checkbox" name="field_required")
              Field required
            = image_tag "add_icon.png", title: 'Add one more field', class: 'add'
      .pure-u-12-24
        .container.settings
          %h3 Customize widget
          %label.required
            Theme
          %br/
          =select_tag :theme, options_for_select(["Red", "Black", "Gray"], selected: @widget.theme)


    .formActions
      %button.small.save Save
      %button.small.cancel.disabled(disabled) Cancel changes
      .saveWarning You've made changes to the widget! Don't forget to save!
