.widgetCodeAndPreview
  .pure-g

    .pure-u-12-24


      - if @gateway.site_type == "wordpress"

        .installationInstructions
          %h3= I18n.t("header", scope: "widgets.preview.wordpress")
          %p= I18n.t("tip", scope: "widgets.preview.wordpress")

          %ol
            %li= I18n.t("step1", scope: "widgets.preview.wordpress", link: link_to(I18n.t("link", scope: "widgets.preview.wordpress"), "/mycelium-gear_wordpress_plugin.zip"))
            %li
              =I18n.t("step2", scope: "widgets.preview.wordpress")
              %input.gatewayId{ type: "text", value: @gateway.straight_gateway_hashed_id }

          %p= I18n.t("step3", scope: "widgets.preview.wordpress")

      - elsif @gateway.site_type == "joomla"

        .installationInstructions
          %h3= I18n.t("header", scope: "widgets.preview.joomla")
          %p= I18n.t("tip", scope: "widgets.preview.joomla")

          %ol
            %li= I18n.t("step1", scope: "widgets.preview.joomla", link: link_to(I18n.t("link", scope: "widgets.preview.joomla"), "http://extensions.joomla.org/browse/new/extension/e-commerce/payment-gateway/mycelium-gear-payment-widget"))
            %li
              = I18n.t("step2", scope: "widgets.preview.joomla")
              %input.gatewayId{ type: "text", value: @gateway.straight_gateway_hashed_id }

          %p= I18n.t("step3", scope: "widgets.preview.joomla")

      - elsif @gateway.site_type == "drupal"

        .installationInstructions
          %h3= I18n.t("header", scope: "widgets.preview.drupal")
          %p= I18n.t("tip", scope: "widgets.preview.drupal")

          %ol
            %li= I18n.t("step1", scope: "widgets.preview.drupal", link: link_to(I18n.t("link", scope: "widgets.preview.drupal"), "/mycelium-gear_drupal_plugin.zip"))
            %li
              = I18n.t("step2", scope: "widgets.preview.drupal")
              %input.gatewayId{ type: "text", value: @gateway.straight_gateway_hashed_id }

          %p= I18n.t("step3", scope: "widgets.preview.drupal")

      - elsif @gateway.site_type == "modx"

        .installationInstructions
          %h3= I18n.t("header", scope: "widgets.preview.modx")
          %p= I18n.t("tip", scope: "widgets.preview.modx")

          %ol
            %li= I18n.t("step1", scope: "widgets.preview.modx", link: link_to(I18n.t("link", scope: "widgets.preview.modx"), "/mycelium-gear_modx_plugin.zip"))
            %li
              = I18n.t("step2", scope: "widgets.preview.modx")
              %input.gatewayId{ type: "text", value: @gateway.straight_gateway_hashed_id }

          %p= I18n.t("step3", scope: "widgets.preview.modx")

      - else

        .container.widgetCode
          %h3= I18n.t("header", scope: "widgets.preview.widget.code")
          = I18n.t("tip", scope: "widgets.preview.widget.code")
          %textarea= render_to_string(template: 'widgets/_site_host_code', layout: false)
          .hint= I18n.t("hint", scope: "widgets.preview.widget.code").html_safe

    .pure-u-12-24
      .container
        %h3= I18n.t("header", scope: "widgets.preview.widget.preview")
        = I18n.t("tip", scope: "widgets.preview.widget.preview")
        = render partial: "widgets/admin_host_code"
