.page.orders.index

  - if @orders_filtered || @orders.present?

    - if @gateway
      - @page_title = I18n.t("all_orders_for_gateway", scope: "orders.index") + @gateway.name
      %h2.pageTitle
        = I18n.t("all_orders_for_gateway", scope: "orders.index")
        %b= @gateway.name
    - else
      %h2.pageTitle= @page_title = I18n.t("all_orders_for_all_gateways", scope: "orders.index")

    .actions

      .activeFilters
        - if @gateway
          .filter{ data: { filter_name: 'gateway_id'}}
            = I18n.t("gateway", scope: "orders.index")
            %b
              = @gateway.name
              %span.close &times;
        - if params[:status]
          .filter{ data: { filter_name: 'status'}}
            = I18n.t("status", scope: "orders.index")
            %b
              = StraightServer::Order::STATUSES.invert[params[:status].to_i]
              %span.close &times;
      .filters
        - if @gateways && @gateways.size > 1
          %label= I18n.t("gateway", scope: "orders.index")
          = select_tag "filter_by_gateway", options_from_collection_for_select(@gateways, "id", "name", ), include_blank: true
        - unless params[:status]
          %label= I18n.t("status", scope: "orders.index")
          = select_tag "filter_by_status", options_from_collection_for_select(status_filter_collection, 'first', 'last'), include_blank: true

    .list
      %table
        %tr
          %th(style="width: 90px;")= I18n.t("amount_btc", scope: "orders.index")
          %th(style="width: 90px;")= I18n.t("paid_amount_btc", scope: "orders.index")
          %th= I18n.t("address", scope: "orders.index")
          - unless @gateway
            %th(style="width: 300px;")= I18n.t("gateway", scope: "orders.index")
          %th(style="width: 70px;")= I18n.t("value_at_the_time_of_purchase_html", scope: "orders.index").html_safe
          %th(style="width: 250px;")= I18n.t("created_at", scope: "orders.index")
          %th(style="width: 50px;")= I18n.t("status", scope: "orders.index")

        - @orders.each do |o|
          %tr{ class: "order #{StraightServer::Order::STATUSES.invert[o.status]}", data: { payment_id: o.payment_id, gateway_id: gateway_id_for_order(o) } }
            %td.amount= o.amount_in_btc(as: :string)
            %td.amount= o.amount_in_btc(field: o.amount_paid, as: :string)
            %td.address
              = o.address
              - if o.reused > 0
                %sup
                  = I18n.t("reused", scope: "orders.index")
                  = o.reused
            - unless @gateway
              %td= o.gateway.name
            %td(style="width: 250px;")
              - if o.data && o.kind_of?(Hash) && o.data[:exchange_rate]
                = "#{(o.data[:exchange_rate][:price]*o.amount_in_btc).round(2)} #{o.data[:exchange_rate][:currency]}"
            %td= o.created_at.strftime(I18n.t('created_at_time', scope: 'orders.index'))
            %td
              %b= I18n.t("#{StraightServer::Order::STATUSES.invert[o.status]}", scope: 'orders.index')

      = will_paginate(@orders)

  - else

    .noRecords
      - if @gateway
        %h2= I18n.t("title_html", scope: "orders.index.no_records", name: @gateway.name).html_safe
      - else
        %h2= I18n.t("title", scope: "orders.index.no_records")

      %p= I18n.t("statement", scope: "orders.index.no_records")
