.page.orders.index

  - if @orders.present?

    - if @gateway
      %h2.pageTitle All orders for gateway <b>#{@gateway.name}</b>
    - else
      %h2.pageTitle All orders for all gateways

    .actions

      .activeFilters
        - if @gateway
          .filter{ data: { filter_name: 'gateway_id'}} Gateway: <b>#{@gateway.name} <span class="close">&times;</span></b>
        - if params[:status]
          .filter{ data: { filter_name: 'status'}} Status: <b>#{StraightServer::Order::STATUSES.invert[params[:status].to_i]} <span class="close">&times;</span></b> 

      .filters
        - if @gateways && @gateways.size > 1
          %label Gateway:
          = select_tag "filter_by_gateway", options_from_collection_for_select(@gateways, "id", "name", ), include_blank: true
        - unless params[:status]
          %label Status:
          = select_tag "filter_by_status", options_from_collection_for_select(StraightServer::Order::STATUSES.invert.to_a, 'first', 'last'), include_blank: true 

    .list
      %table
        %tr
          %th(style="width: 90px;") Amount (BTC)
          %th Address
          %th(style="width: 50px;") status
          - unless @gateway
            %th(style="width: 70px;") Gateway
          %th(style="width: 110px;") Value <br/><small>(at the time of purchase)</small>
          %th(style="width: 250px;") Created at
        - @orders.each do |o|
          %tr{ class: "order #{StraightServer::Order::STATUSES.invert[o.status]}", data: { order_id: o.keychain_id, gateway_id: gateway_id_for_order(o) } }
            %td= o.amount_in_btc(as: :string)
            %td= o.address
            %td
              %b= StraightServer::Order::STATUSES.invert[o.status]
            - unless @gateway
              %td= o.gateway.name
            %td(style="width: 250px;")
              - if o.data && o.data[:exchange_rate]
                = "#{(o.data[:exchange_rate][:price]*o.amount_in_btc).round(2)} #{o.data[:exchange_rate][:currency]}"
            %td= o.created_at

      = will_paginate(@orders)

  - else

    .noRecords
      - if @gateway
        %h2 Nobody created orders with your gateway <span class="regularText">#{@gateway.name}</span> yet.
      - else
        %h2 Nobody created orders with your gateways yet.

      %p An order is associated with something that you sell. When a customer wants to pay for an item, an order is created in the database. That order contains an exact amount of bitcoins to be paid, payment Bitcoin address and other information. Gear tracks order statuses and when your customer makes a payment, it detects the transaction and changes order status accordingly, also issuing a callback (if set).
