- @page_title = "Order ##{@order.keychain_id}, for #{link_to @gateway.name, @gateway}"

.page.orders.show

  %h2 Order ##{@order.keychain_id}, for #{link_to @gateway.name, @gateway}
  
  %table

    %tr
      %th Amount (BTC)
      %td= @order.amount_in_btc(as: :string)

    %tr
      %th Bitcoin payment address
      %td
        = @order.address
        - if @order.reused > 0
          %b ( times reused: #{@order.reused} )

    %tr
      %th Transaction id
      %td= @order.tid

    %tr
      %th Status
      %td= StraightServer::Order::STATUSES.invert[@order.status]

    - if @order.data && @order.data.kind_of?(Hash) && @order.data[:exchange_rate]
      - exchange_rate = @order.data.delete(:exchange_rate)
      %tr
        %th Exhange rate
        %td
          Value at the time of purchase:
          %b= "#{exchange_rate[:price]*@order.amount_in_btc} #{exchange_rate[:currency]}"
          ,
          Current value:
          %b= "#{@gateway.straight_gateway.current_exchange_rate(exchange_rate[:currency])*@order.amount_in_btc} #{exchange_rate[:currency]}"

    %tr
      %th Data
      %td
        - if @order.data
          - @order.data.each do |k,v|
            <b>#{k.to_s.split("_").map(&:capitalize).join(' ')}</b>: #{v}
          

    %tr
      %th Callback response
      %td= @order.callback_response

    %tr
      %th Created at
      %td= @order.created_at
