.page.orders.show

  %h2= @page_title = "Order ##{@order.keychain_id}, for #{link_to @gateway.name, @gateway}"
  
  %table

    %tr
      %th Amount (BTC)
      %td= @order.amount_in_btc(as: :string)

    %tr
      %th Bitcoin payment address
      %td= @order.address

    %tr
      %th Transaction id
      %td= @order.tid

    %tr
      %th Status
      %td= StraightServer::Order::STATUSES.invert[@order.status]

    - if @order.data && @order.data[:exchange_rate]
      %tr
        %th Exhange rate
        %td
          Value at the time of purchase:
          %b= "#{@order.data[:exchange_rate][:price]*@order.amount_in_btc} #{@order.data[:exchange_rate][:currency]}"
          ,
          Current value:
          %b= "#{@gateway.straight_gateway.current_exchange_rate(@order.data[:exchange_rate][:currency])*@order.amount_in_btc} #{@order.data[:exchange_rate][:currency]}"

    %tr
      %th Data
      %td= @order.data.to_json.to_s

    %tr
      %th Callback response
      %td= @order.callback_response

    %tr
      %th Created at
      %td= @order.created_at
