.page.orders.show

  %h2
    = t("orders.show.header", title: (@order.title || ''), keychain: @order.keychain_id )
    = link_to(@gateway.name, @gateway).html_safe

  %table

    %tr
      %th= t("orders.show.amount_btc")
      %td= @order.amount_in_btc(as: :string)

    %tr
      %th= t("orders.show.paid_amount_btc")
      %td= @order.amount_in_btc(field: @order.amount_paid, as: :string)

    %tr
      %th= t("orders.show.bitcoin_payment_address")
      %td
        = @order.address
        - if @order.reused > 0
          %b= t("orders.show.times_reused", count: @order.reused )

    %tr
      %th= t("orders.show.transaction_id")
      %td= @order.tid

    %tr
      %th= t("orders.show.status")
      %td= StraightServer::Order::STATUSES.invert[@order.status]

    - if @order.data && @order.data.kind_of?(Hash) && @order.data[:exchange_rate]
      - exchange_rate = @order.data.delete(:exchange_rate)
      %tr
        %th= t("orders.show.exhange_rate")
        %td
          = t("orders.show.at_the_time_of_purchase")
          %b= "#{exchange_rate[:price]*@order.amount_in_btc} #{exchange_rate[:currency]}"
          ,
          = t("orders.show.value")
          %b= "#{@gateway.straight_gateway.current_exchange_rate(exchange_rate[:currency])*@order.amount_in_btc} #{exchange_rate[:currency]}"

    %tr
      %th= t("orders.show.data")
      %td
        - if @order.data && @order.data.kind_of?(Hash)
          - @order.data.each do |k,v|
            - if v.present?
              <b>#{k.to_s.split("_").map(&:capitalize).join(' ')}</b>: #{v}
        - else
          = @order.data

    %tr
      %th= t("orders.show.callback_response")
      %td= @order.callback_response

    %tr
      %th= t("orders.show.created_at")
      %td= @order.created_at.strftime(t("strftime.created_at"))
