- @page_title = t('pages.frontpage.page_title')

.page.frontpage

  = simple_form_for(User.new, url: registration_path(:user)) do |f|

    .form-inputs
      = f.input :email, required: true, autofocus: true
      = f.input :password, required: true, hint: (t('pages.frontpage.password_hint', length: @minimum_password_length) if @validatable)
      = f.input :password_confirmation, required: true
      = f.input :name

    .form-actions
      = f.button :submit, t('pages.frontpage.submit')
      %span.orSignIn
        or
        = link_to t('pages.frontpage.log_in'), new_user_session_path
