.page.frontpage

  = simple_form_for(User.new, url: registration_path(:user)) do |f|

    .form-inputs
      = f.input :email, required: true, autofocus: true
      = f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @validatable)
      = f.input :password_confirmation, required: true
      = f.input :name

    .form-actions
      = f.button :submit, "Sign up"
      %span.orSignIn
        or
        = link_to "sign in", new_user_session_path
