%h1 Updates

%ul
  - @updates.each do |update|
    %li
      = update.created_at.strftime("%b %e, %Y")
      %b= update.subject
      %p= update.body

= will_paginate @updates

= link_to 'New Changelog', new_update_path if current_user.admin?
