.page.updates

  -  if current_user.admin?
    = link_to I18n.t("updates.index.links.new_update"), new_update_path
    = link_to I18n.t("updates.index.links.send_unsent"), deliver_unsent_updates_path, method: :post, data: {confirm: I18n.t("updates.index.links.confirm")}

  - if @updates.blank?

    %p= I18n.t("updates.index.no_records.title")

  - else

    %h1= I18n.t("updates.index.header")

    %ul
      - @updates.each do |update|
        %li
          = update.created_at.strftime(I18n.t('strftime.date'))
          %b.subject(class="#{update.priority}")
            - if current_user.admin?
              = link_to update.subject, edit_update_path(update)
            - else
              = update.subject

          - if current_user.admin?
            = " / "
            - if update.sent_at
              = "#{I18n.t("updates.index.send_at")} #{update.sent_at.strftime(I18n.t('strftime.timestamp'))}"
            - else
              = link_to I18n.t("updates.index.links.send"), delivery_update_path(update), method: :post, data: {confirm: I18n.t("updates.index.links.confirm")}
              = link_to I18n.t("updates.index.links.delete"), update_path(update), method: :delete
          %p= update.body.html_safe

    = will_paginate @updates
