.page.updates
  
  -  if current_user.admin?
    = link_to I18n.t("new_update", scope: "updates.index.links"), new_update_path
    = link_to I18n.t("send_unsent", scope: "updates.index.links"), deliver_unsent_updates_path, method: :post, data: {confirm: I18n.t("confirm", scope: "updates.index.links")}

  - if @updates.blank?

    %p= I18n.t("title", scope: "updates.index.no_records")

  - else

    %h1= I18n.t("header", scope: "updates.index")

    %ul
      - @updates.each do |update|
        %li
          = update.created_at.strftime(I18n.t('strftime.date'))
          %b.subject(class="#{update.priority}")
            - if current_user.admin?
              = link_to update.subject, edit_update_path(update)
            - else
              = update.subject

          - if current_user.admin?
            = " / "
            - if update.sent_at
              = "#{I18n.t("send)at", scope: "updates.index")} #{update.sent_at.strftime(I18n.t('strftime.timestamp'))}"
            - else
              = link_to I18n.t("send", scope: "updates.index.links"), delivery_update_path(update), method: :post, data: {confirm: I18n.t("confirm", scope: "updates.index.links")}
              = link_to I18n.t("delete", scope: "updates.index.links"), update_path(update), method: :delete
          %p= update.body.html_safe

    = will_paginate @updates