.page.updates

  - if @updates.blank?

    %p= t("updates.index.no_records.title")
    -  if current_user.admin?
      = link_to t("updates.index.links.new_update"), new_update_path

  - else

    %h1= t("updates.index.header")

    -  if current_user.admin?
      = link_to t("updates.index.links.new_update"), new_update_path
      = link_to t("updates.index.links.send_unsent"), deliver_unsent_updates_path, method: :post, data: {confirm: t("updates.index.links.confirm")}
    
    - @updates.each do |update|
      .record
        .circle{class: "#{priority_indicator(update)}"}
        .time= l(update.created_at)
        .subject
          - if current_user.admin?
            = link_to update.subject, edit_update_path(update)
          - else
            = update.subject

          - if current_user.admin?
            = " / "
          - if update.sent_at
            = t("updates.index.send_at")
            = l(update.sent_at, format: :default)
          - else
            = link_to t("updates.index.links.send"), delivery_update_path(update), method: :post, data: {confirm: t("updates.index.links.confirm")}
            = link_to t("updates.index.links.delete"), update_path(update), method: :delete
        .body= update.body.html_safe

    = will_paginate @updates
