= simple_form_for(@gateway) do |f|

  = f.input :name
  = f.input :confirmations_required, as: :select, collection: (0..6), priority: 0
  = f.input :pubkey, disabled: !@gateway.new_record?
  %p.moreFieldInfo
    = image_tag "watch_icon.png", class: 'inlineIcon'
    Watch a short video and learn how to export BIP32 pubkey from #{link_to "your Electrum", "https://www.youtube.com/watch?v=2E0cwY_M2D4", target: '_blank' } or #{ link_to "Mycelium wallet", "https://www.youtube.com/watch?v=-CN_I8vfEL4", target: '_blank' }.<br/>
  = f.input :address_derivation_scheme
  %p.moreFieldInfo
    m/0/n — Mycelium wallet Android, Electrum
    %br/
    n — Mycelium wallet iOS
  = f.input :callback_url
  = f.input :orders_expiration_period
  = f.input :active

  .formBlock
    %h3 Currency conversion options
    = f.input :default_currency, as: :select, collection: ['BTC', 'USD', 'EUR'], priority: [ "USD" ]
    = f.input :convert_currency_to, as: :select, collection: ['BTC'], priority: [ "BTC" ]
    %label
      Exchange rate provider #1:
      = select_tag "exchange_rate_adapter_name_1", options_for_select(@gateway.available_exchange_rate_adapter_names, @gateway.available_exchange_rate_adapter_names[-1])
    %label
      Exchange rate provider #2:
      = select_tag "exchange_rate_adapter_name_2", options_for_select(@gateway.available_exchange_rate_adapter_names, @gateway.available_exchange_rate_adapter_names[-2])
    %label
      Exchange rate provider #3:
      = select_tag "exchange_rate_adapter_name_3", options_for_select(@gateway.available_exchange_rate_adapter_names, @gateway.available_exchange_rate_adapter_names[-3])

    %span.hint If one exchange rate provider fails due to being unreachable, the other one will be used automatically. Remember, this only applies if the gateway's default currency is different from BTC.
    = f.input :exchange_rate_adapter_names, as: :hidden

  .formBlock
    %h3 Additional info about the merchant
    %p.description (all fields are optional)
    = f.input :description
    = f.input :merchant_url
    = f.input :country
    = f.input :region
    = f.input :city

  - unless @gateway.new_record?
    = f.input :regenerate_secret, as: :boolean

  - if @gateway.has_widget?
    = f.input :receive_payments_notifications, label: 'Send notifications about new payments to my email'

  = f.submit
