.page.gateways.index

  - if current_user.admin?
    %h2.pageTitle= @page_title = I18n.t("gateways.index.page_title_if_admin", objects: params[:widget] ? I18n.t("gateways.index.widgets") : I18n.t("gateways.index.gateways"))
  - else
    %h2.pageTitle= @page_title =  I18n.t("gateways.index.page_title_unless_admin", objects: params[:widget] ? I18n.t("gateways.index.widgets") : I18n.t("gateways.index.gateways"))

  .actions
    - if params[:widget]
      = link_to I18n.t("gateways.index.create_widget"), "/wizard", class: "button small"
    - else
      = link_to I18n.t("gateways.index.create_gateway"), new_gateway_path, class: "button small"


  .list
    - if @gateways.present?

      %table
        %th= I18n.t("gateways.index.name")
        %th(style="width: 30px;")= I18n.t("gateways.index.active")
        %th(style="wiTH: 80px;")= I18n.t("gateways.index.test_mode")
        %th= I18n.t("gateways.index.bip32_testpubkey")
        %th(style="width: 70px;")= I18n.t("gateways.index.default_currency")
        - if current_user.admin?
          %th= I18n.t("gateways.index.owner")
        - @gateways.each do |g|
          - key = g.test_mode && g.test_pubkey.present? ? g.test_pubkey : g.pubkey
          %tr
            %td <b>#{link_to g.name.truncate(30), g}</b>
            %td= g.active ? I18n.t("positive") : I18n.t("negative")
            %td= g.test_mode ? I18n.t("positive") : I18n.t("negative")
            %td= key.present? ? "#{key.to_s[0,16]}..." : 'N/A'
            %td= g.default_currency
            - if current_user.admin?
              %td= g.user.email

      = will_paginate(@gateways)

    - else
      .noRecords
        %h3= I18n.t("gateways.index.no_records.title", objects: params[:widget] ? I18n.t("gateways.index.widgets") : I18n.t("gateways.index.gateways"))
        - if params[:widget]
          = I18n.t("gateways.index.no_records.statement.widget")
        - else
          %p= I18n.t("gateways.index.no_records.statement.gateway")
