.page.gateways.index

  %h2.pageTitle= @page_title = "Your #{ params[:widget] ? "widgets" : "gateways" }"

  .actions
    - if params[:widget]
      = link_to "create widget", "/wizard", class: "button small"
    - else
      = link_to "create gateway", new_gateway_path, class: "button small"


  .list
    - if @gateways.present?

      %table
        %th NAME
        %th(style="width: 30px;") ACTIVE?
        %th BIP32 PUBKEY
        %th(style="width: 70px;") DEFAULT CURRENCY
        - if current_user.admin?
          %th OWNER
        - @gateways.each do |g|
          %tr
            %td <b>#{link_to g.name, g}</b>
            %td= g.active ? "Yes" : "No"
            %td= g.pubkey.slice(0,16) + "..."
            %td= g.default_currency
            - if current_user.admin?
              %td= link_to g.user.email, g.user

      = will_paginate(@gateways)

    - else
      .noRecords
        %h3 You have not created any #{ params[:widget] ? "widgets" : "gateways" } yet
        - if params[:widget]
          A widget is a small block that you can install onto your website that will allow your users to instantly pay you with Bitcoin. It is the easiest way to accept payments with Gear.
        - else
          %p A gateway is a logical unit that serves one online store or website. For each store that you own, you need to create one gateway. You can then track all the orders associated with that gateway, along with their statuses and how much money was received.
