.page.gateways.index

  - if current_user.admin?
    %h2.pageTitle= @page_title = I18n.t("gateways.index.page_title_if_admin", objects: params[:widget] ? I18n.t("gateways.index.widgets") : I18n.t("gateways.index.gateways"))
  - else
    %h2.pageTitle= @page_title =  I18n.t("gateways.index.page_title_unless_admin", objects: params[:widget] ? I18n.t("gateways.index.widgets") : I18n.t("gateways.index.gateways"))

  .actions
    - if params[:widget]
      = link_to I18n.t("create_widget", scope: "gateways.index"), "/wizard", class: "button small"
    - else
      = link_to I18n.t("create_gateway", scope: "gateways.index"), new_gateway_path, class: "button small"


  .list
    - if @gateways.present?

      %table
        %th= I18n.t("name", scope: "gateways.index")
        %th(style="width: 30px;")= I18n.t("active", scope: "gateways.index")
        %th(style="wiTH: 80px;")= I18n.t("test_mode", scope: "gateways.index")
        %th= I18n.t("bip32_testpubkey", scope: "gateways.index")
        %th(style="width: 70px;")= I18n.t("default_currency", scope: "gateways.index")
        - if current_user.admin?
          %th= I18n.t("owner", scope: "gateways.index")
        - @gateways.each do |g|
          - key = g.test_mode && g.test_pubkey.present? ? g.test_pubkey : g.pubkey
          %tr
            %td <b>#{link_to g.name, g}</b>
            %td= g.active ? I18n.t("yes", scope: "common") : I18n.t("no", scope: "common")
            %td= g.test_mode ? I18n.t("yes", scope: "common") : I18n.t("no", scope: "common")
            %td= key.slice(0,16) + "..."
            %td= g.default_currency
            - if current_user.admin?
              %td= g.user.email

      = will_paginate(@gateways)

    - else
      .noRecords
        %h3= I18n.t("title", scope: "gateways.index.no_records", objects: params[:widget] ? I18n.t("gateways.index.widgets") : I18n.t("gateways.index.gateways"))
        - if params[:widget]
          = I18n.t("widget", scope: "gateways.index.no_records.statment")
        - else
          %p= I18n.t("gateway", scope: "gateways.index.no_records.statment")
