.page.gateways.show

  .pure-g
    .pure-u-12-24
      %h2= @gateway.name
    .pure-u-12-24
      = link_to "Edit settings", edit_gateway_path(@gateway), class: "button small editGateway"
  
  - if @gateway.description.present?
    %p= @gateway.description

  - if flash[:gateway_secret]
    .secret
      .warning
        Gateway settings saved. Please write this down. It is only displayed here once. This key is needed to access the API when creating orders and to sign callbacks. If you later lose this key, you will need to regenerate it.
      .value Your gateway secret is: <b>#{flash[:gateway_secret]}</b>


  - if @gateway.widget

    %h3 Generate widget HTML code
    .widget
      .item
        %label
          Product title:
          %input.widgetTitle(type="text")
        %label
          Product price:
          %input.widgetPrice(type="text")
          %span= @gateway.default_currency
        &nbsp;
        %span.eventTrigger#add_product Add one more item

      %span#widget_currency(style="display: none;")= @gateway.default_currency

      %input#widget_gateway_id{ type: "hidden", value: @gateway.straight_gateway_hashed_id }
      %button.small.unlockable#generate_widget Get code

      .generatedWidget= render partial: 'gateways/generated_widget'


  %table

    %tr
      %th Online store / site URL
      %td= @gateway.merchant_url
      
    %tr
      %th Country
      %td= @gateway.country

    %tr
      %th Region
      %td= @gateway.region

    %tr
      %th City
      %td= @gateway.city

    %tr
      %th Confirmations required
      %td= @gateway.confirmations_required

    %tr
      %th BIP32 pubkey
      %td= @gateway.pubkey.slice(0,16) + "..."

    %tr
      %th Default currency
      %td= @gateway.default_currency

    %tr
      %th Callback URL
      %td= @gateway.callback_url

    %tr
      %th Orders expiration period
      %td
        = @gateway.orders_expiration_period
        seconds

    %tr
      %th API Gateway ID
      %td= @gateway.straight_gateway_hashed_id

    %tr
      %th Exchange rate providers
      %td= @gateway.exchange_rate_adapter_names.join(", ") if @gateway.exchange_rate_adapter_names.present?

    %tr
      %th Is active?
      %td= @gateway.active ? "Yes" : "No"

    %tr
      %th Orders stat
      %td
        new: #{@gateway.order_counters[:new]},
        paid: #{@gateway.order_counters[:paid]},
        overpaid: #{@gateway.order_counters[:overpaid]},
        underpaid: #{@gateway.order_counters[:underpaid]},
        expired: #{@gateway.order_counters[:expired]}
        %span.seeAllOrders ( #{link_to "See all orders for this gateway", orders_path(gateway_id: @gateway.id)} )
