- @page_title = I18n.t("page_title", scope: "gateways.show", name: @gateway.name )

.page.gateways.show

  .pure-g
    .pure-u-12-24.break-word
      %h2= @gateway.name
    .pure-u-12-24
      = link_to I18n.t("edit_settings", scope: "gateways.show"), edit_gateway_path(@gateway), class: "button small editGateway"

  - if @gateway.description.present?
    %p= @gateway.description

  - if flash[:gateway_secret]
    .secret
      .warning
        =  I18n.t("warning", scope: "gateways.show")
      .value= I18n.t("secret", scope: "gateways.show", message: flash[:gateway_secret] ).html_safe


  - if @gateway.has_widget?

    = render partial: 'widgets/form'
    = render partial: 'widgets/preview'


  %table

    %tr
      %th= I18n.t("online_store_site_url", scope: "gateways.show")
      %td= @gateway.merchant_url

    %tr
      %th= I18n.t("country", scope: "gateways.show")
      %td= @gateway.country

    %tr
      %th= I18n.t("region", scope: "gateways.show")
      %td= @gateway.region

    %tr
      %th= I18n.t("city", scope: "gateways.show")
      %td= @gateway.city

    %tr
      %th= I18n.t("confirmations_required", scope: "gateways.show")
      %td= @gateway.confirmations_required

    - if @gateway.address_provider

      %tr
        %th= I18n.t("exchange", scope: "gateways.show")
        %td= @gateway.address_provider.display_name

    - else
      - key = @gateway.test_mode && @gateway.test_pubkey.present? ? @gateway.test_pubkey : @gateway.pubkey
      %tr
        %th= I18n.t("bip32_pubkey", scope: "gateways.show")
        %td= key.slice(0,16) + "..."

      %tr
        %th= I18n.t("address_derivation_scheme", scope: "gateways.show")
        %td= @gateway.address_derivation_scheme

      - if (addresses = @gateway.generate_addresses(@show_addresses))
        %tr
          %th= I18n.t("addresses", scope: "gateways.show")
          %td
            %form{action: gateway_path(@gateway), method: 'GET'}
              %textarea= addresses.map { |e| e.join(': ') }.join("\n")
              %input{type: 'text', id: 'show_addresses', name: 'show_addresses', value: @show_addresses.to_s}
              %input{type: 'submit', value: I18n.t("button_value", scope: "gateways.show.form")}
              .hint= I18n.t("hint", scope: "gateways.show.form")

    %tr
      %th= I18n.t("default_currency", scope: "gateways.show")
      %td= @gateway.default_currency

    %tr
      %th= I18n.t("callback_url", scope: "gateways.show")
      %td= @gateway.callback_url

    %tr
      %th= I18n.t("orders_expiration_period", scope: "gateways.show")
      %td
        = @gateway.orders_expiration_period
        = I18n.t("seconds", scope: "gateways.show")

    %tr
      %th= I18n.t("api_gateway_id", scope: "gateways.show")
      %td= @gateway.straight_gateway_hashed_id

    %tr
      %th= I18n.t("exchange_rate_providers", scope: "gateways.show")
      %td= @gateway.exchange_rate_adapter_names.join(", ") if @gateway.exchange_rate_adapter_names.present?

    %tr
      %th= I18n.t("locale", scope: "gateways.show")
      %td= @gateway.locale.humanize if @gateway.locale.present?

    %tr
      %th= I18n.t("after_payment_redirect_to", scope: "gateways.show")
      %td= @gateway.after_payment_redirect_to

    %tr
      %th= I18n.t("auto_redirect", scope: "gateways.show")
      %td= I18n.t(@gateway.auto_redirect.to_s)

    %tr
      %th= I18n.t("is_active", scope: "gateways.show")
      %td= @gateway.active ? I18n.t("positive") : I18n.t("negative")

    %tr
      %th= I18n.t("in_test_mode", scope: "gateways.show")
      %td= @gateway.test_mode ? I18n.t("positive") : I18n.t("negative")

    %tr
      %th= I18n.t("orders_stat", scope: "gateways.show")
      %td
        #{I18n.t("new", scope: "gateways.show")}: #{@gateway.order_counters[:new]},
        #{I18n.t("paid", scope: "gateways.show")}: #{@gateway.order_counters[:paid]},
        #{I18n.t("overpaid", scope: "gateways.show")}: #{@gateway.order_counters[:overpaid]},
        #{I18n.t("underpaid", scope: "gateways.show")}: #{@gateway.order_counters[:underpaid]},
        #{I18n.t("expired", scope: "gateways.show")}: #{@gateway.order_counters[:expired]}
        %span.seeAllOrders ( #{link_to(I18n.t("see_all_link", scope: "gateways.show"), orders_path(gateway_id: @gateway.id))} )
