- @page_title = I18n.t('devise.mailer.reset_password_instructions.page_title')

%p= I18n.t('devise.mailer.reset_password_instructions.greetings')
%p
  = I18n.t('devise.mailer.reset_password_instructions.message')
  %br/
  = link_to I18n.t('devise.mailer.reset_password_instructions.change_link'), edit_password_url(@resource, reset_password_token: @token)
%p
  = I18n.t('devise.mailer.reset_password_instructions.ignore_mail')
  %br/
  = I18n.t('devise.mailer.reset_password_instructions.password_tip')
  %br/
