- @page_title = I18n.t('page_title', scope: 'devise.mailer.reset_password_instructions')

%p= I18n.t('greetings', scope: 'devise.mailer.reset_password_instructions')
%p
  = I18n.t('message', scope: 'devise.mailer.reset_password_instructions')
  %br/
  = link_to I18n.t('change_link', scope: 'devise.mailer.reset_password_instructions'), edit_password_url(@resource, reset_password_token: @token)
%p
  = I18n.t('ignore_mail', scope: 'devise.mailer.reset_password_instructions')
  %br/
  = I18n.t('password_tip', scope: 'devise.mailer.reset_password_instructions')
  %br/
