- @page_title = "Add widget to your website"

.page.wizard

  .title

    %p
      %b Start accepting Bitcoin payments in three simple steps!
    %p This wizard will guide through the process of adding the option to receive Bitcoin payments on your website. It's very simple and only requires you to have a Bitcoin wallet that supports BIP32 (Mycelium or Electrum) and access to edit your website. If instead of adding a widget, you'd like to integrate payments using our API, please consult our #{ link_to "API documentation", "/docs"} and #{ link_to "proceed to create a gateway", new_gateway_path }.
  
  .downloadWallets

    %h3 Download the wallet
    %p Before you start, you first need to download and install either Mycelium or Electrum wallet. These wallets support BIP32 pubkeys which Mycelium Gear can use to send your customer payments straight into your wallet.
    .wallets
      .wallet1
        = image_tag "wallets/mycelium_logo.png"
        = link_to "Install Mycelium wallet from Google Play", "https://play.google.com/store/apps/details?id=com.mycelium.wallet&hl=en", target: 'blank'
      .wallet2
        = image_tag "wallets/electrum_logo.png"
        = link_to "Download Electrum wallet", "https://electrum.org/#download"
  .clearfix

  %h2 Step 1: Choose what platform your website is running on?

  %table.siteBackendTypesSelector
    %tr.icons
      %td{ data: { site_type: 'wordpress' }}= image_tag "wizard/wordpress.png"
      %td{ data: { site_type: 'joomla' }}= image_tag "wizard/joomla.png"
      %td{ data: { site_type: 'html' }}= image_tag "wizard/html.png"
      %td{ data: { site_type: 'unknown' }}= image_tag "wizard/i_dont_know.png"
    %tr.names
      %td{ data: { site_type: 'wordpress' }} It's a Wordpress Blog!
      %td{ data: { site_type: 'joomla' }}    It's on Joomla CMS!
      %td{ data: { site_type: 'html' }}      Custom website I have control over
      %td{ data: { site_type: 'unknown' }}   I have no idea...

  .websiteTypeChecker

    .form
      %label Let's check what your website is running on. Insert your website URL:
      %input(type="text" placeholder="http://")
      %br
      %button.small Check it!

    .wordpress
      Your site is running on <b>Wordpress</b> blog engine.
      %b Choose option 1.

    .joomla
      Your site is running on <b>Joomla</b> CMS.
      %b Choose option 2.

    .unknown
      Your site seems to be running something else besides Joomla or Wordpress.
      %b Choose option 3.

    .connectionError
      We were unable to connect to the URL you specified, sorry.
