- @page_title = I18n.t("page_title", scope: "wizard.step1")

.page.wizard

  .title

    %p
      %b= I18n.t("header", scope: "wizard.step1.title")
    %p= I18n.t("tip", scope: "wizard.step1.title", link_1: link_to(I18n.t("link_1", scope: "wizard.step1.title"), "/docs"), link_2: link_to(I18n.t("link_2", scope: "wizard.step1.title"), new_gateway_path)).html_safe

  .downloadWallets

    %h3= I18n.t("header", scope: "wizard.step1.download")
    %p= I18n.t("tip", scope: "wizard.step1.download")
    .wallets
      .wallet1
        = image_tag "wallets/mycelium_logo.png"
        = link_to I18n.t("mycelium_wallet", scope: "wizard.step1"), "https://play.google.com/store/apps/details?id=com.mycelium.wallet&hl=en", target: 'blank'
      .wallet2
        = image_tag "wallets/electrum_logo.png"
        = link_to I18n.t("electrum_wallet", scope: "wizard.step1"), "https://electrum.org/#download"
  .clearfix

  %h2= I18n.t("header", scope: "wizard.step1")

  %table.siteBackendTypesSelector
    %tr.icons
      %td{ data: { site_type: 'wordpress' }}= image_tag "wizard/wordpress.png"
      %td{ data: { site_type: 'joomla' }}= image_tag "wizard/joomla.png"
      %td{ data: { site_type: 'drupal' }}= image_tag "wizard/drupal.png"
    %tr.names
      %td{ data: { site_type: 'wordpress' }}
        = I18n.t("wordpress", scope: "wizard.step1.table")
      %td{ data: { site_type: 'joomla' }}
        = I18n.t("joomla", scope: "wizard.step1.table")
      %td{ data: { site_type: 'drupal' }}
        = I18n.t("drupal", scope: "wizard.step1.table")
    %tr.icons
      %td{ data: { site_type: 'modx' }}= image_tag "wizard/modx.png"
      %td{ data: { site_type: 'html' }}= image_tag "wizard/html.png"
      %td{ data: { site_type: 'unknown' }}= image_tag "wizard/i_dont_know.png"
    %tr.names
      %td{ data: { site_type: 'modx' }}
        = I18n.t("modx", scope: "wizard.step1.table")
      %td{ data: { site_type: 'html' }}
        = I18n.t("html", scope: "wizard.step1.table")
      %td{ data: { site_type: 'unknown' }}
        = I18n.t("unknown", scope: "wizard.step1.table")

  .websiteTypeChecker

    .form
      %label= I18n.t("label", scope: "wizard.step1.form")
      %input(type="text" placeholder="http://")
      %br
      %button.small= I18n.t("check_button", scope: "wizard.step1.form")

    .wordpress
      = I18n.t("header", scope: "wizard.step1.form.wordpress").html_safe
      %b= I18n.t("option", scope: "wizard.step1.form.wordpress").html_safe

    .joomla
      = I18n.t("header", scope: "wizard.step1.form.joomla").html_safe
      %b= I18n.t("option", scope: "wizard.step1.form.joomla").html_safe

    .drupal
      = I18n.t("header", scope: "wizard.step1.form.drupal").html_safe
      %b= I18n.t("option", scope: "wizard.step1.form.drupal").html_safe

    .modx
      = I18n.t("header", scope: "wizard.step1.form.modx").html_safe
      %b= I18n.t("option", scope: "wizard.step1.form.modx").html_safe

    .unknown
      = I18n.t("header", scope: "wizard.step1.form.unknown").html_safe
      %b= I18n.t("option", scope: "wizard.step1.form.unknown").html_safe

    .connectionError
      = I18n.t("error", scope: "wizard.step1.form").html_safe
