- @page_title = I18n.t("page_title", scope: "wizard.step3")

.page.wizard.step3
  .pure-g
    .pure-u-1
      = link_to I18n.t('gateways.show.edit_settings'), edit_gateway_path(@gateway), class: 'button small editGateway'

  .title

    %p
      %b= I18n.t("header", scope: "wizard.step3.title")
    %p= I18n.t("tip", scope: "wizard.step3.title")

  %h1= I18n.t("header", scope: "wizard.step3")

  = render partial: 'widgets/form'
  = render partial: 'widgets/preview'

  - if @gateway.site_type == "html" || !@gateway.site_type

    .installationInstructions

      %p= I18n.t("header", scope: "wizard.step3.instructions")

      %ol
        %li= I18n.t("first", scope: "wizard.step3.instructions.list")
        %li= I18n.t("second", scope: "wizard.step3.instructions.list")

      %p= I18n.t("hint", scope: "wizard.step3.instructions").html_safe

      %p= I18n.t("ending", scope: "wizard.step3.instructions").html_safe
