- @page_title = I18n.t("wizard.step3.page_title")

.page.wizard.step3
  .pure-g
    .pure-u-1
      = link_to I18n.t('gateways.show.edit_settings'), edit_gateway_path(@gateway), class: 'button small editGateway'

  .title

    %p
      %b= I18n.t("wizard.step3.title.header")
    %p= I18n.t("wizard.step3.title.tip")

  %h1= I18n.t("wizard.step3.header")

  = render partial: 'widgets/form'
  = render partial: 'widgets/preview'

  - if @gateway.site_type == "html" || !@gateway.site_type

    .installationInstructions

      %p= I18n.t("wizard.step3.instructions.header")

      %ol
        %li= I18n.t("wizard.step3.instructions.list.first")
        %li= I18n.t("wizard.step3.instructions.list.second")

      %p= I18n.t("wizard.step3.instructions.hint").html_safe

      %p= I18n.t("wizard.step3.instructions.ending").html_safe
