- @page_title = "Add widget to your website"
- btc_only_fields_style = @gateway.convert_currency_to == 'BTC' ? '' : 'display: none;'

.page.wizard

  .title

    %p
      %b Start accepting Bitcoin payments in three simple steps!
    %p This wizard will guide through the process of adding the option to receive Bitcoin payments on your website. It's very simple and only requires you to have a Bitcoin wallet that supports BIP32 (Mycelium or Electrum) and access to edit your website.

  %h1 Step 2: Fill in your wallet public key and a little info about your site.

  = simple_form_for(@gateway, url: { controller: 'wizard', action: 'create_gateway' }) do |f|

    .pure-g
      .pure-u-24-24
        .container
          %p
            If you wish to convert all payments into fiat money, you need to
            %a{href: new_address_provider_path} configure exchange
            first.
      .pure-u-12-24
        .container
          = f.input :name
          = f.input :convert_currency_to, as: :select, collection: [['BTC', 'BTC'], *user_address_providers], priority: ['BTC']
          .formBlock.btc-only-fields{style: btc_only_fields_style}
            = f.input :pubkey, label: 'BIP32 pubkey <a href="https://github.com/bitcoin/bips/blob/master/bip-0032.mediawiki" class="labelHint">What is BIP32?</a>'.html_safe
            %p.moreFieldInfo
              = image_tag "watch_icon.png", class: 'inlineIcon'
              Watch a short video and learn how to export BIP32 pubkey from #{link_to "your Electrum", "https://www.youtube.com/watch?v=2E0cwY_M2D4", target: '_blank' } or #{ link_to "Mycelium wallet", "https://www.youtube.com/watch?v=-CN_I8vfEL4", target: '_blank' }.
            = f.input :address_derivation_scheme, as: :select, collection: [["m/0/n - Mycelium wallet Android, Electrum, myTREZOR", "m/0/n"], ["n — Mycelium wallet iOS", "n"]], value_method: :last, label_method: :first
          .formBlock.btc-only-fields{style: btc_only_fields_style}
            = f.input :test_pubkey
            = f.input :test_mode
      .pure-u-12-24
        .container
          = f.input :merchant_url
          = f.input :default_currency, as: :select, collection: ['BTC', 'USD', 'EUR'], priority: [ "BTC" ]

    .pure-g
      .pure-u-12-24
        .container
          = f.input :receive_payments_notifications, label: 'Send notifications about new payments to my email'


    = f.input :site_type, as: :hidden

    .actions
      = link_to "Back", "/wizard", class: 'button'
      = f.submit "Next"
