- html = {id: provider_class.type}
- html[:style] = "display:none;" if hidden
- model = provider || provider_class.new
= simple_form_for(model, url: model.persisted? ? address_provider_path(model)  : address_providers_path, html: html) do |f|
  %input{type: 'hidden', name: 'type', value: provider_class.type}
  -#= f.input :name

  %h3 Fill in verification info
  = f.simple_fields_for :user_details do |ud|
    %table
      %tr
        %td= ud.input :first_name, input_html: {value: model.first_name}
        %td= ud.input :last_name, input_html: {value: model.last_name}
      %tr
        %td= ud.input :address, input_html: {value: model.address}
        %td= ud.input :postal_code, input_html: {value: model.postal_code, style: 'width: 100px;'}
      %tr
        %td= ud.input :city, input_html: {value: model.city}
        %td= ud.input :country_code, selected: model.country_code, label: "Country"

  = f.simple_fields_for :files do |d|
    %table
      %tr
        %td= d.input :'gov-id-front', as: :file, label: I18n.t('address_providers.cashila.gov-id-front')
        %td= d.input :'gov-id-back', as: :file, label: I18n.t('address_providers.cashila.gov-id-back')
        %td= d.input :residence, as: :file, label: I18n.t('address_providers.cashila.residence')

  %h3 Fill in bank account info
  = f.simple_fields_for :user_details do |rd|
    = rd.input :recipient_name, input_html: {value: model.recipient_name}
    %table
      %tr
        %td= rd.input :recipient_address, input_html: {value: model.recipient_address}
        %td= rd.input :recipient_postal_code, input_html: {value: model.recipient_postal_code, style: 'width: 100px;'}
      %tr
        %td= rd.input :recipient_city, input_html: {value: model.recipient_city}
        %td= rd.input :recipient_country_code, selected: model.recipient_country_code, label: "Recipient country"
      %tr
        %td= rd.input :recipient_bic, input_html: {value: model.recipient_bic}, label: 'BIC'
        %td= rd.input :recipient_iban, input_html: {value: model.recipient_iban}, label: 'IBAN'
  = f.submit 'Submit'
