%h3= t('tos.header')
%ul.numeric-decimals
  %li
    = t('tos.part_1.header')
    %ul
      %li= t('tos.part_1.content_1', link: link_to('https://gear.mycelium.com/', 'https://gear.mycelium.com/'))
      %li= t('tos.part_1.content_2')
      %li= t('tos.part_1.content_3', link: link_to(tos_url, tos_path))
      %li= t('tos.part_1.content_4')
      %li= t('tos.part_1.content_5')
  %li
    = t('tos.part_2.header')
    %ul
      %li= t('tos.part_2.content_1')
      %li= t('tos.part_2.content_2')
  %li
    = t('tos.part_3.header')
    %ul
      %li= t('tos.part_3.content_1')
  %li
    = t('tos.part_4.header')
    %ul
      %li= t('tos.part_4.content_1')
      %li= t('tos.part_4.content_2')
      %li= t('tos.part_4.content_3')
  %li
    = t('tos.part_5.header')
    %ul
      %li= t('tos.part_5.content_1')
      %li= t('tos.part_5.content_2')
      %li= t('tos.part_5.content_3')
      %li= t('tos.part_5.content_4')
      %li= t('tos.part_5.content_5')
  %li
    = t('tos.part_6.header')
    %ul
      %li= t('tos.part_6.content_1')
      %li= t('tos.part_6.content_2')
      %li= t('tos.part_6.content_3')
      %li= t('tos.part_6.content_4')
      %li= t('tos.part_6.content_5')
      %li= t('tos.part_6.content_6'

.publication_date
  = t('tos.pub_date')
   July 10th, 2015
