%h3= t('header', scope: 'tos')
%ul.numeric-decimals
  %li
    = t('header', scope: 'tos.part_1')
    %ul
      %li= t('content_1', scope: 'tos.part_1', link: link_to('https://gear.mycelium.com/', 'https://gear.mycelium.com/'))
      %li= t('content_2', scope: 'tos.part_1')
      %li= t('content_3', scope: 'tos.part_1', link: link_to(tos_url, tos_path))
      %li= t('content_4', scope: 'tos.part_1')
      %li= t('content_5', scope: 'tos.part_1')
  %li
    = t('header', scope: 'tos.part_2')
    %ul
      %li= t('content_1', scope: 'tos.part_2')
      %li= t('content_2', scope: 'tos.part_2')
  %li
    = t('header', scope: 'tos.part_3')
    %ul
      %li= t('content_1', scope: 'tos.part_3')
  %li
    = t('header', scope: 'tos.part_4')
    %ul
      %li= t('content_1', scope: 'tos.part_4')
      %li= t('content_2', scope: 'tos.part_4')
      %li= t('content_3', scope: 'tos.part_4')
  %li
    = t('header', scope: 'tos.part_5')
    %ul
      %li= t('content_1', scope: 'tos.part_5')
      %li= t('content_2', scope: 'tos.part_5')
      %li= t('content_3', scope: 'tos.part_5')
      %li= t('content_4', scope: 'tos.part_5')
      %li= t('content_5', scope: 'tos.part_5')
  %li
    = t('header', scope: 'tos.part_6')
    %ul
      %li= t('content_1', scope: 'tos.part_6')
      %li= t('content_2', scope: 'tos.part_6')
      %li= t('content_3', scope: 'tos.part_6')
      %li= t('content_4', scope: 'tos.part_6')
      %li= t('content_5', scope: 'tos.part_6')
      %li= t('content_6', scope: 'tos.part_6'

.publication_date
  = t('pub_date', scope: 'tos')
   July 10th, 2015
