- @page_title = I18n.t("page_title", scope: "pages.docs.checking_order_status")

.page.docs

  %h1= I18n.t("header", scope: "pages.docs.checking_order_status", link: link_to(I18n.t("documentation", scope: "pages.docs.checking_order_status"), "/docs")).html_safe
  %p
    = I18n.t("statement_1", scope: "pages.docs.checking_order_status")
  %p
    = I18n.t("statement_2", scope: "pages.docs.checking_order_status").html_safe

  .code
    GET https://gateway.gear.mycelium.com/gateways/:api_gateway_id/orders/:payment_id

  %p
    = I18n.t("statement_3", scope: "pages.docs.checking_order_status").html_safe


  .code
    {"status": 2,<br/>"amount":7894000,<br/>"address":"1NZov2nm6gRCGW6r4q1qHtxXurrWNpPr1q",<br/>"tid":"f0f9205e41bf1b79cb7634912e86bb840cedf8b1d108bd2faae1651ca79a5838",<br/>"id":1,<br/>"payment_id":"y78033435ea02f024f9abdfd04adabe314a322a0d353c33beb3acb7d97f1bdeb",<br/>"amount_in_btc":"0.07894",<br/>"amount_paid_in_btc":"0.07894",<br/>"keychain_id":3,<br/>"last_keychain_id":3 }

  %p
    = I18n.t("statement_4", scope: "pages.docs.checking_order_status")

    = render partial: 'pages/docs/navigation', locals: {page: 'checking_order_status'}
