- @page_title = t("pages.docs.checking_order_status.page_title")

.page.docs

  %h1= t("pages.docs.checking_order_status.header", link: link_to(t("pages.docs.checking_order_status.documentation"), "/docs")).html_safe
  %p
    = t("pages.docs.checking_order_status.statement_1")
  %p
    = t("pages.docs.checking_order_status.statement_2").html_safe

  .code
    GET https://gateway.gear.mycelium.com/gateways/:api_gateway_id/orders/:payment_id

  %p
    = t("pages.docs.checking_order_status.statement_3").html_safe


  .code
    {"status": 2,<br/>"amount":7894000,<br/>"address":"1NZov2nm6gRCGW6r4q1qHtxXurrWNpPr1q",<br/>"tid":"f0f9205e41bf1b79cb7634912e86bb840cedf8b1d108bd2faae1651ca79a5838",<br/>"id":1,<br/>"payment_id":"y78033435ea02f024f9abdfd04adabe314a322a0d353c33beb3acb7d97f1bdeb",<br/>"amount_in_btc":"0.07894",<br/>"amount_paid_in_btc":"0.07894",<br/>"keychain_id":3,<br/>"last_keychain_id":3 }

  %p
    = t("pages.docs.checking_order_status.statement_4")

    = render partial: 'pages/docs/navigation', locals: {page: 'checking_order_status'}
