.page.docs

  %h1 #{ link_to "Documentation", "/docs"} / API / Creating orders

  %p Creating an order is the first step towards accepting the payment. Generally, you'd want to create an order AFTER your customer clicks "Complete purchase" or a similar button in your online store. After you created an order using our RESTFUL API, you can then redirect user to the Mycelium Gear payment page associated with this order.

  %h2 The request and the signature

  %p In order to create an order, you must issue an https request to <span class="code">https://gateway.gear.mycelium.com/gateways/:gateway_id/orders</span> with at least two params &mdash; <span class="code">amount</span> and <span class="code">signature</span> &mdash; the former determining the amount to be paid for this order. The amount should be in the currency you set for the gateway. If the gateway currency is BTC, then the amount is normally in satoshis. So, the request may look like this:

  .code
    https://gateway.gear.mycelium.com/gateways/:api_gateway_id/orders?amount=1

  %p
    You can get the <span class="code">api_gateway_id</span> value from your
    gateway's info in the admin panel.

  %p This url only it currently lacks a signature. Signatures are necessary because you HAVE to make sure that when somebody accesses your gateway's RESTful API it is your store only, and not somebody else. For that purpose, you're gonna need to provide a signature. A <i></i>signature</i> is a HMAC SHA256 hash of the secret and an order id. Because you need order id, it means you have to actually provide it manually in the params. It can be any integer > 0, but it's better that it is a consecutive integer, so keep track of order ids in your application. Obviously, if an order with such an id already exists, the request will be rejected. Then the request becomes this: 

  .code
    POST /gateways/:api_gateway_id/orders?amount=1&order_id=1&signature=aa14c26b2ae892a8719b0c2c57f162b967bfbfbdcc38d8883714a0680cf20467

  %p Below is an example of obtaining that signature in Ruby:

  .code
    require 'openssl'<br/>
    secret = 'a long string of random chars'<br/>
    OpenSSL::HMAC.digest('sha256', secret, "1").unpack("H*").first # "1" may be order_id here

  %h2 The response

  %p In response to the request above, you will receive the following json from Mycelium Gear:

  .code
    { status: 0, amount: 1, address: "12REjGNsZfdWj5kWTuMZ2p6WPeyWFWwUT8", tid: null, id: 1298, payment_id: "<b>5fb72e26b23cef0900779487698893b6f566e9b8386dfb57bfabe30448b7b163</b>", amount_in_btc: "0.00000001"}

  %p Now this information is very useful. With it, you can either manually display the payment address to the customer on your website (so he doesn't even have to leave your site), or you can redirect him to the Mycelium Gear payment page using the <span class="code">payment_id</span>. The payment page url for redirection will then be:

  .code
    https://gateway.gear.mycelium.com/pay/<b>5fb72e26b23cef0900779487698893b6f566e9b8386dfb57bfabe30448b7b163</b>

  %h2 Code example in Ruby and Rails

  %p Suppose you have a Rails controller with the action called <span class="code">complete_purchase</span> which handles the customer request when he hits the "Complete purchase" button on your site. This is what a code in it may look like:

  .code
    require 'openssl'<br/>
    SECRET = 'a long string of random chars'<br/>

    <br/>
    def complete_purchase<br/>
    &nbsp;&nbsp;signature = OpenSSL::HMAC.digest('sha256', SECRET, "1").unpack("H*").first # "1" may be order_id here
    &nbsp;&nbsp;

    <br/><br/> 
    &nbsp;
    ='# Make a request, get payment_id'
    <br/>
    &nbsp;&nbsp;require 'json'<br/>
    &nbsp;&nbsp;require 'net/http'<br/>

    <br/><br/>
    &nbsp;&nbsp;uri = URI.parse("https://gateway.gear.mycelium.com")<br/>
    &nbsp;&nbsp;http = Net::HTTP.new(uri.host, uri.port)<br/>
    &nbsp;&nbsp;http.use_ssl = true<br/>
    &nbsp;&nbsp;http.verify_mode = OpenSSL::SSL::VERIFY_NONE<br/>
    &nbsp;
    = 'request = Net::HTTP::Post.new('
    <br/>&nbsp;&nbsp;&nbsp;
    = '"/gateways/#{gateway_id}/orders?amount=#{params[:amount]}&order_id=#{params[:order_id]}&signature=#{signature}"'
    <br/>&nbsp;&nbsp;
    = ')'
    <br/>
    &nbsp;&nbsp;request.add_field('Content-Type', 'application/json')<br/>
    &nbsp;&nbsp;order = JSON.parse(http.request(request).body).to_h

    <br/><br/>
    &nbsp;
    ="# Redirect our customer to the payment page"
    <br/>
    &nbsp;
    ='redirect_to "https://gateway.gear.mycelium.com/pay/#{order["payment_id"]}'
    <br/>
    end 
