- @page_title = I18n.t("page_title", scope: "pages.docs.creating_gateway")

.page.docs

  %h1= I18n.t("header", scope: "pages.docs.creating_gateway", link: link_to(I18n.t("link", scope: "pages.docs.creating_gateway"), "/docs")).html_safe

  %p= I18n.t("statement_1", scope: "pages.docs.creating_gateway")

  %h2= I18n.t("header_2", scope: "pages.docs.creating_gateway")

  %p= I18n.t("statement_2", scope: "pages.docs.creating_gateway", link: link_to(I18n.t("link_2", scope: "pages.docs.creating_gateway"), new_gateway_path)).html_safe

  %ul.longText

    %li= I18n.t("name", scope: "pages.docs.creating_gateway.long_text").html_safe

    %li= I18n.t("confirmations", scope: "pages.docs.creating_gateway.long_text").html_safe

    %li
      = I18n.t("pub_key", scope: "pages.docs.creating_gateway.long_text").html_safe
      .code xpub6AHA9hZDN11k2ijHMeS5QqHx2KP9aMBRhTDqANMnwVtdyw2TDYRmF8PjpvwUFcL1Et8Hj59S3gTSMcUQ5gAqTz3Wd8EsMTmF3DChhqPQBnU 
      = I18n.t("pub_key_2", scope: "pages.docs.creating_gateway.long_text", link_1: link_to("Mycelium", "https://mycelium.com/bitcoinwallet"), link_2: link_to("Electrum", "https://electrum.org"), link_3: link_to("for Electrum", "https://www.youtube.com/watch?v=2E0cwY_M2D4"), link_4: link_to("for Mycelium", "https://www.youtube.com/watch?v=-CN_I8vfEL4")).html_safe

    %li= I18n.t("order", scope: "pages.docs.creating_gateway.long_text").html_safe

    %li= I18n.t("active", scope: "pages.docs.creating_gateway.long_text").html_safe

    %li= I18n.t("currency", scope: "pages.docs.creating_gateway.long_text").html_safe

    %li= I18n.t("info", scope: "pages.docs.creating_gateway.long_text").html_safe

  %h2= I18n.t("secret", scope: "pages.docs.creating_gateway.gateway").html_safe

  %p= I18n.t("statement_1", scope: "pages.docs.creating_gateway.gateway").html_safe

  %p= I18n.t("statement_2", scope: "pages.docs.creating_gateway.gateway").html_safe

  = render partial: 'pages/docs/navigation', locals: {page: 'creating_gateway'}
