- @page_title = "Creating orders | API Documentation"

.page.docs

  %h1 #{ link_to "Documentation", "/docs"} / API / Creating orders

  %p Creating an order is the first step towards accepting a payment. Generally, you want to create an order AFTER your customer clicks "Complete purchase" or a similar button in your online store. After you create an order using our RESTFUL API, you can redirect the user to the Mycelium Gear payment page associated with this order.

  %h2 The request and the signature

  %p To create an order, you must issue a POST request to <span class="code">https://gateway.gear.mycelium.com/gateways/:gateway_id/orders</span> with at least two params &mdash; <span class="code">amount</span> and <span class="code">signature</span> &mdash; the former determining the amount to be paid for this order. The amount should be in the currency you have previously set for the gateway. If the gateway currency is BTC, then the amount is normally in satoshis. So, the request may look like this:

  .code
    https://gateway.gear.mycelium.com/gateways/:api_gateway_id/orders?amount=1

  %p
    You can get the <span class="code">api_gateway_id</span> value from your
    gateway's info in the admin panel.

  %p In order for this url to be complete, you must add a signature. Signatures are necessary, because you HAVE to make sure that when somebody accesses your gateway's RESTful API, it is accessed by your store only, and not by somebody else. A <i>signature</i> is an HMAC SHA256 hash of the secret and <span class="code">keychain_id</span>. Keychain id is used to generate an address for the next order. It can be any integer > 0, but it's better if it is a consecutive integer, so keep track of your order ids in your application. With the id and signature, the request will look like this:

  .code
    POST /gateways/:api_gateway_id/orders?amount=1&keychain_id=1&signature=ffbe476de9c28687b05e10a4507259f69b3b17de51106dee525a73d17b85b84f

  %p Below is an example of obtaining that signature in Ruby:

  .code
    require 'openssl'<br/>
    secret = 'a long string of random chars'<br/>
    OpenSSL::HMAC.digest('sha256', secret, "1").unpack("H*").first # "1" is keychain_id here

  %h2 Sending additional data
  %p You may want to send some additional data with the transaction that will later be returned to you, unchanged, in the callback. This is useful if you wish to identify which record in your DB is associated with which order by using something other than order_id.
  
  %p For example, suppose you have a <span class="code">Purchase</span> model in your Rails app. You then might want to create a purchase and send its id in the data param:

  .code
    POST /gateways/:api_gateway_id/orders?amount=1&keychain_id=1&<b>data=purchase_id_123</b>&signature=ffbe476de9c28687b05e10a4507259f69b3b17de51106dee525a73d17b85b84f

  %p Later on, when the callback request is issued, this <span class="code">data</span> param will be returned back with it and you'll be able to find that purchase in your DB.


  %h2 The response

  %p In response to the request above, you will receive the following json from Mycelium Gear:

  .code
    { "status": 0, "amount":1, "address":"12REjGNsZfdWj5kWTuMZ2p6WPeyWFWwUT8", "tid":null, "id":1298, "<b>5fb72e26b23cef0900779487698893b6f566e9b8386dfb57bfabe30448b7b163</b>", "amount_in_btc":"0.00000001", "keychain_id":1, "last_keychain_id":1 }

  %p With this information, you can either manually display the payment address to the customer on your website (so he doesn't even have to leave your site), or you can redirect him to the Mycelium Gear payment page using the <span class="code">payment_id</span>. The payment page url for redirection will then be:

  .code
    https://gateway.gear.mycelium.com/pay/<b>5fb72e26b23cef0900779487698893b6f566e9b8386dfb57bfabe30448b7b163</b>


  %h2 Address reuse and keychain_id

  %p
    <span class="code">keychain_id</span> is used to derive the next address from your BIP32 pubkey.
    If you try to create orders with the same <span class="code">keychain_id</span> they will also have the same
    address, which is, as you can imagine, not a very good idea. However it is allowed and there's
    a good reason for that.

  %p
    Wallets that support BIP32 pubkeys will only do a forward address lookup for a limited number of
    addreses. For example, if you have 20 expired, unpaid orders and someone sends you money to the address
    of the 21-st order, your wallet may not see that. Thus, it is important to ensure that there are
    no more than 20 expired orders in a row.
    
  %p
    If you have 20 orders in a row and try to create another one, Gear will see that and will
    automatically reuse the <span class="code">keychain_id</span> (and consequently, the address too) of the 20-th order. It will
    also set the 21-st order's <span class="code">reused</span> field to the value of <span class="code">1</span>. You will see it marked as reused in the admin panel too.

  %p
    CAUTION: It is very important to make sure that you don't accidentally provide <span class="code">keychain_id</span>
    that is too far away from the last used one. For example, if the gateway's <span class="code">last_keychain_id</span> is <span class="code">10</span>,
    do not use <span class="code">35</span> for the next order, use <span class="code">11</span>. <span class="code">last_keychain_id</span> is always returned with other info
    when you create or check order status. Make sure yu always track <span class="code">last_keychain_id</span> in your application - it is normally returned
    to you in the json with the other order info when you create or check orders.

  %h2 Code example in Ruby and Rails

  %p Suppose you have a Rails controller with an action called <span class="code">complete_purchase</span> which handles customer requests when they hit the "Complete purchase" button on your site. This is what code for it may look like:

  .code
    require 'openssl'<br/>
    SECRET = 'a long string of random chars'<br/>

    <br/>
    def complete_purchase<br/>
    &nbsp;&nbsp;signature = OpenSSL::HMAC.digest('sha256', SECRET, "1").unpack("H*").first # "1" may be order_id here
    &nbsp;&nbsp;

    <br/><br/> 
    &nbsp;
    ='# Make a request, get payment_id'
    <br/>
    &nbsp;&nbsp;require 'json'<br/>
    &nbsp;&nbsp;require 'net/http'<br/>

    <br/>
    &nbsp;&nbsp;uri = URI.parse("https://gateway.gear.mycelium.com")<br/>
    &nbsp;&nbsp;http = Net::HTTP.new(uri.host, uri.port)<br/>
    &nbsp;&nbsp;http.use_ssl = true<br/>
    &nbsp;&nbsp;http.verify_mode = OpenSSL::SSL::VERIFY_NONE<br/>
    &nbsp;
    = 'request = Net::HTTP::Post.new('
    <br/>&nbsp;&nbsp;&nbsp;
    = '"/gateways/#{gateway_id}/orders?amount=#{params[:amount]}&keychain_id=#{params[:keychain_id]}&signature=#{signature}"'
    <br/>&nbsp;&nbsp;
    = ')'
    <br/>
    &nbsp;&nbsp;request.add_field('Content-Type', 'application/json')<br/>
    &nbsp;&nbsp;order = JSON.parse(http.request(request).body).to_h

    <br/><br/>
    = "#Let's create a purchase model in our app and save order_id with it"
    Purchase.create(order_id: order.id ... )
    <br/><br/>
    &nbsp;
    ="# Redirect our customer to the payment page"
    <br/>
    &nbsp;
    ='redirect_to "https://gateway.gear.mycelium.com/pay/#{order["payment_id"]}'
    <br/>
    end 

  .nav
    .left= link_to "&#8592; Previous (creating a new gateway)".html_safe, "/docs/creating_gateway"
    .right= link_to "Next (receiving order status change callback) &#8594;".html_safe, "/docs/callback"
