- @page_title = I18n.t("page_title", scope: "pages.docs.index")

.page.docs

  %h1= I18n.t("header", scope: "pages.docs.index")

  %p= I18n.t("statement_1", scope: "pages.docs.index", link: link_to(I18n.t("link_1", scope: "pages.docs.index"), "/wizard")).html_safe

  %p= I18n.t("statement_2", scope: "pages.docs.index")

  %p= I18n.t("statement_3", scope: "pages.docs.index", link_1: link_to("straight", "https://github.com/snitko/straight", target: "_blank" ), link_2: link_to("straight-server", "https://github.com/snitko/straight-server", target: "_blank") ).html_safe

  %h2= I18n.t("header_2", scope: "pages.docs.index")

  %ul

    %li= link_to I18n.t("payment_proccessing", scope: "pages.docs.index.links"), "/docs/overview"
    %li= link_to I18n.t("new_gateway", scope: "pages.docs.index.links"), "/docs/creating_gateway"
    %li
      = I18n.t("api", scope: "pages.docs.index")
      %ul
        %li= link_to I18n.t("signed_request", scope: "pages.docs.index.links"), "/docs/signed_request"
        %li= link_to I18n.t("creating_orders", scope: "pages.docs.index.links"), "/docs/creating_orders"
        %li= link_to I18n.t("callback", scope: "pages.docs.index.links"), "/docs/callback"
        %li= link_to I18n.t("order_status", scope: "pages.docs.index.links"), "/docs/checking_order_status"
        %li= link_to I18n.t("websocket", scope: "pages.docs.index.links"), "/docs/order_websocket"
        %li= link_to I18n.t("order_cancellation", scope: "pages.docs.index.links"), "/docs/order_cancellation"
        %li= link_to I18n.t("last_keychain", scope: "pages.docs.index.links"), "/docs/last_keychain_id"
