- @page_title = t("pages.docs.order_websocket.page_title")

.page.docs

  %h1= t("pages.docs.order_websocket.header", link: link_to(t("pages.docs.order_websocket.link"), "/docs")).html_safe

  %p= t("pages.docs.order_websocket.statement_1")

  %p= t("pages.docs.order_websocket.statement_2")

  .code https://gateway.gear.mycelium.com/gateways/:api_gateway_id/orders/1/websocket

  %p= t("pages.docs.order_websocket.statement_3", link: link_to(t("pages.docs.order_websocket.link_2"), "/docs/checking_order_status")).html_safe

  = render partial: 'pages/docs/navigation', locals: {page: 'order_websocket'}
