- @page_title = I18n.t("page_title", scope: "pages.docs.overview")

.page.docs

  %h1= I18n.t("header", scope: "pages.docs.overview", link: link_to(I18n.t("link", scope: "pages.docs.overview"), "/docs") ).html_safe

  %p= I18n.t("statement", scope: "pages.docs.overview")

  %h2= I18n.t("question", scope: "pages.docs.overview.faq.first")

  %p= I18n.t("answer", scope: "pages.docs.overview.faq.first").html_safe

  %h2= I18n.t("question", scope: "pages.docs.overview.faq.second")

  %p= I18n.t("answer_1", scope: "pages.docs.overview.faq.second")

  .code https://verypay.com/order/08ccaf5cd48628fb69900d7295cd46de5ac97dc3d798816f550a266f3eec01e1

  %p= I18n.t("answer_2", scope: "pages.docs.overview.faq.second")
  .code POST https://worldsbestshoes.com/payments/callback
  %p= I18n.t("answer_3", scope: "pages.docs.overview.faq.second")

  %p= I18n.t("answer_4", scope: "pages.docs.overview.faq.second")

  %h2= I18n.t("question", scope: "pages.docs.overview.faq.third")

  %p= I18n.t("answer", scope: "pages.docs.overview.faq.third")

  %h2= I18n.t("question", scope: "pages.docs.overview.faq.fourth")

  %p= I18n.t("answer_1", scope: "pages.docs.overview.faq.fourth", link_1: link_to("BIP32", "https://github.com/bitcoin/bips/blob/master/bip-0032.mediawiki"), link_2:  link_to("Mycelium", "https://mycelium.com/bitcoinwallet"),link_3: link_to("Electrum", "https://electrum.org/")).html_safe

  %p= I18n.t("answer_2", scope: "pages.docs.overview.faq.fourth")

  %h2= I18n.t("header", scope: "pages.docs.overview.terminology")
  %p= I18n.t("statement", scope: "pages.docs.overview.terminology")

  %ul

    %li= I18n.t("first", scope: "pages.docs.overview.terminology.list").html_safe

    %li= I18n.t("second", scope: "pages.docs.overview.terminology.list").html_safe

    %li= I18n.t("third", scope: "pages.docs.overview.terminology.list").html_safe

    %li= I18n.t("fourth", scope: "pages.docs.overview.terminology.list").html_safe

  = render partial: 'pages/docs/navigation', locals: {page: 'overview'}
