- if request.path == '/'
  = display_meta_tags(title: "Mycelium Gear Admin: payment processor admin panel", description: @page_description, keywords: @page_keywords)
- else
  = display_meta_tags(site: 'Mycelium Gear Admin', title: @page_title, reverse: true, description: @page_description, keywords: @page_keywords)

/[if lte IE 8]
  = javascript_include_tag "http://html5shiv.googlecode.com/svn/trunk/html5.js"

= stylesheet_link_tag "vendor/pure-grids-responsive-old-ie-min"
= stylesheet_link_tag "vendor/pure-grids-responsive-min"

= stylesheet_link_tag "frontend_notifier_custom"
%link(href='http#{Rails.env.production? ? 's' : ''}://fonts.googleapis.com/css?family=Roboto&subset=latin,cyrillic-ext,greek-ext,greek,vietnamese,latin-ext,cyrillic' rel='stylesheet' type='text/css')

= favicon_link_tag
= yield :meta_tags
= javascript_include_tag 'jquery'
= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};"
= csrf_meta_tags
