!!!
%html{lang: "en"}

  %head
    = render partial: 'layouts/shared_head'
    = stylesheet_link_tag 'vendor/chosen', 'shared', 'application', media: 'all'
    = javascript_include_tag 'jquery.matchHeight.js', 'chosen.jquery.js', 'application'

  %body.authenticated
    = render partial: "shared/frontend_notifier"
    = image_tag "ajax-loader.gif", class: 'ajaxLoader'

    .pageContainer

      .pageContent
        .topBar
          .container
            = I18n.t('support', scope: 'layout')
            = render partial: 'shared/support_email'
        .container
          = yield

    .leftSidebar
      .container
        .logo= link_to image_tag("mycelium_gear_admin_logo.png"), root_path
        %menu= build_mmmenu(@menu)
        .container.lang= locale_selector

    = render partial: 'shared/google_analytics'
