!!!
%html{lang: "en"}

  %head
    = render partial: 'layouts/shared_head'
    = stylesheet_link_tag 'vendor/chosen', 'shared', 'application', media: 'all'
    = javascript_include_tag 'jquery.matchHeight.js', 'chosen.jquery.js', 'application'

  %body.authenticated
    = render partial: "shared/frontend_notifier"
    = image_tag "ajax-loader.gif", class: 'ajaxLoader'

    .pageContainer

      .pageContent
        .container= yield

    .leftSidebar
      .container
        .logo= image_tag "mycelium_gear_admin_logo_sidebar.png"
        %menu.alwaysFresh= build_mmmenu(@menu)
