!!!
%html{lang: "en"}

  %head
    = render partial: 'layouts/shared_head'
    = javascript_include_tag 'jquery.matchHeight.js', 'chosen.jquery.js', 'application'
    = stylesheet_link_tag 'shared', 'unauthenticated', media: 'all'

  %body
    = render partial: "shared/frontend_notifier"
    = image_tag "ajax-loader.gif", class: 'ajaxLoader'

    %header
      = link_to root_path do
        .logo= image_tag "mycelium_gear_admin_logo.png"

    .pageContainer= yield
