!!!
%html{lang: "en"}

  %head
    = render partial: 'layouts/shared_head'
    = stylesheet_link_tag 'shared', 'unauthenticated', media: 'all'
    = javascript_include_tag 'jquery', 'shared'

  %body

    %header
      .logo= image_tag "mycelium_gear_admin_logo.png"

    .pageContainer= yield
