!!!
%html{lang: "en"}

  %head
    = render partial: 'layouts/shared_head'
    = javascript_include_tag 'jquery.matchHeight.js', 'chosen.jquery.js', 'application'
    = stylesheet_link_tag 'shared', 'unauthenticated', media: 'all'

    %meta(name="description" content="Mycelium Gear: a new generation Bitcoin payment processor. Doesn't hold your private keys, has no access to your money. Provides easy to set up payment widget as well sophisticated developer API.")
    %meta(name="keywords" content="Bitcoin,payment,payments,widget,API,payment API,accept payments,accept Bitcoin,accept bitcoin")

  %body
    = render partial: "shared/frontend_notifier"
    = image_tag "ajax-loader-dark.gif", class: 'ajaxLoader'

    %header
      = link_to root_path do
        .logo= image_tag "mycelium_gear_admin_logo.png"

    .pageContainer= yield

    = render partial: 'shared/google_analytics'
