.page.exchanges.show.cashila

  %h3
    = I18n.t("exchange", scope: "address_providers.show.cashila")
    = I18n.t("hint", scope: "address_providers.show.cashila", name: @address_provider.display_name)

  .actions= link_to I18n.t("edit", scope: "address_providers.show.cashila"), edit_address_provider_path(@address_provider), class: 'button small'
  .clearfix

  - if flash[:success].to_s.end_with? 'created'
    .successfulSubmissionNote= I18n.t("address_providers.show.cashila.thank_your",
                                      new_gateway: link_to("create Gateways", new_gateway_path)
                                      widget: link_to("Widgets", "/wizard"))
  -#- elsif flash[:success].end_with? 'updated'

  %table
    %tr
      %th= I18n.t("verification_status", scope: "address_providers.show.cashila")
      %td= @actual_state['status']
    - if @actual_state['rejected_reason']
      %tr
        %th= I18n.t("rejection_reason", scope: "address_providers.show.cashila")
        %td= @actual_state['rejected_reason']

  %h4= I18n.t("details", scope: "address_providers.show.cashila")
  %table
    - hidden_keys = %i{recipient_bic recipient_iban}.to_set
    - AddressProviders::Cashila::USER_DETAILS.each do |key|
      - next if hidden_keys.include?(key) && @actual_state[key.to_s].blank?
      %tr
        %th= key.to_s.humanize
        %td= @actual_state[key.to_s]

  %h4= I18n.t("documents", scope: "address_providers.show.cashila")
  - AddressProviders::Cashila::FILES.each do |key|
    %p
      = I18n.t("address_providers.cashila.#{key}")
      %table
        - @actual_state[key.to_s].each do |k, v|
          %tr
            %th= k.humanize
            %td= v ? I18n.t("positive") : I18n.t("negative")
