.page.exchanges.show.cashila

  %h3
    Exchange:
    = @address_provider.display_name

  .actions= link_to "Edit", edit_address_provider_path(@address_provider), class: 'button small'
  .clearfix

  - if flash[:success]
    .successfulSubmissionNote Thank your for submitting the information. By now, you should've received an additional email from Cashila notifying you that an account has been created. As soon as the documents and information are verified, you'll be able to use this exchange to #{link_to "create Gateways", new_gateway_path} and #{link_to "Widgets", "/wizard" } that will convert to EUR and send money directly to your bank account. Remember, that if you already have a gateway or a widget, you will need to create a new one in order to use EUR payouts with it.

  %table
    %tr
      %th Verification status
      %td= @actual_state['status']
    - if @actual_state['rejected_reason']
      %tr
        %th Rejection reason
        %td= @actual_state['rejected_reason']

  %h4 Details
  %table
    - AddressProviders::Cashila::USER_DETAILS.each do |key|
      %tr
        %th= key.to_s.humanize
        %td= @actual_state[key.to_s]

  %h4 Documents
  - AddressProviders::Cashila::FILES.each do |key|
    %p
      = I18n.t("address_providers.cashila.#{key}")
      %table
        - @actual_state[key.to_s].each do |k, v|
          %tr
            %th= k.humanize
            %td= v ? "Yes" : "No"
